<title>Data Visualisation</title>

<head>
  <!-- loading billboard.js styles from the cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css">
  <link rel="stylesheet" href="style.css" />

  <!--Loading D3.js -->
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <!-- Loading billboard.js scripts from the cdn -->
  <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
  <style>
    p 
    {
      margin-top: 10px;
    }

    /* demo styles */

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    /* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:1px solid #ecf0f1;
    border-radius: 15px;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input {    
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:1px solid #ecf0f1;
    border-radius: 15px;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
  }
  h1 {
      font-size: 30px;
      color: #00b5ad;
      text-align: center;
      font-weight: 500;
      margin-bottom: 15px;

    }
    h2 {
      font-size: 30px;
      color: #00b5ad;
      text-align: center;
      font-weight: 500;

    }
    h3
    {
      margin-top: 50px;
      font-size: 30px;
      color: #00b5ad;
      text-align: center;
      font-weight: 500;
    }
    h4
    {
      margin-top: 25px;
      font-size: 30px;
      color: #00b5ad;
      text-align: center;
      font-weight: 500;
    }
  </style>
</head>
 

<div id="preloader">
  <div class="medilife-load"></div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
<!-- Top Header Area -->


<!-- Main Header Area -->
<div class="main-header-area" id="stickyHeader">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="/userdashboard"><img src="img/core-img/logo.png" alt="Logo" style = "height: 110px; width:130px"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse" id="medilifeMenu">
                            <!-- Menu Area -->
                            <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                  <a class="nav-link" href="/userdashboard">Home </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active"  href="/userDashboardSelect">Dashboard<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/bot">Chatbot</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/call">Call</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/userProfile">Profile</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="about-us.html">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/logout">Logout</a>
                              </li>
                          </ul>
                            <!-- Appointment Button -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<div style="background-image: url(img/bg-img/breadcumb3.jpg); height:1280px; background-blend-mode: lighten;">


<body style="text-align: center; height: 2200px;">

 <div style="padding-top: 50px;"><h1 style="display: inline-block; vertical-align:middle; padding-left: 20px; " >Data Dashboard</h1> </div>

  <form action="/userDashboardSelect" style="padding: 50px;" method="post">
    <label for="date">Select date to show data:</label>
    <input type="date" id="date" name="date">
    <input type="submit">
  </form>

  <h1 style="margin-top: 50px;"> No Data To Be Shown For Selected Date Or Please Select a Date </h1>
</div>
</body>

  <!-- jQuery (Necessary for All JavaScript Plugins) -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
  </body>
</html>
